@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face{
    font-family: 'lanche';
    src:url('../public/font/lanche/Lanche-Ttf.ttf') format('truetype');
}

@font-face{
    font-family: 'argentum-sans-regular';
    src:url('../public/font/argentum-sans/ArgentumSans-Regular.ttf') format('truetype');
}

@font-face{
    font-family: 'argetum-sans-light';
    src:url('../public/font/argentum-sans/ArgentumSans-Light.ttf') format('truetype');
}

body{
    background-color: #f0f0f0; /* Set your desired background color */
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.mySwiper .swiper-button-next {
   background-color: #f35578;
  color: #FEE3E1;
  font-size: 24px;
  border-radius: 50%;
width: 20px;
height: 20px;
padding: 30px;


}

.mySwiper .swiper-button-prev {
  background-color: #f35578;
  color: #FEE3E1;
  font-size: 24px;
  border-radius: 50%;
width: 20px;
height: 20px;
padding: 30px;

}