/* section 1 */
@font-face{
    font-family: 'lanche';
    src:url('../public/font/lanche/Lanche-Ttf.ttf') format('truetype');
}

@font-face{
    font-family: 'argentum-sans-regular';
    src:url('../public/font/argentum-sans/ArgentumSans-Regular.ttf') format('truetype');
}

@font-face{
    font-family: 'argetum-sans-light';
    src:url('../public/font/argentum-sans/ArgentumSans-Light.ttf') format('truetype');
}

.containerSec1{
    position: absolute;
    margin-top: 8.12rem;
    margin-left: 9.44rem;
    z-index: 30;
    cursor: default;
}

.titleSec1{
    width: 19.937rem;
    font-size: 4.375rem;
    color: #FEE3E1;
    font-weight: 400;
    font-family: 'lanche';
    font-style: normal;
    line-height: 5.25rem;
}

.descSec1{
    width: 39.90rem;
    font-size: 1rem;
    font-style: normal;
    color: #FFF;
    font-weight: 400;
    font-family: 'argetum-sans-light';
    line-height: normal;
}

/* slider after */
.element2::after{
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.70) 0%, rgba(164, 24, 63, 0.10) 100%);
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 20;
}

/* section 2 */
.flowerHome{
    background-image: url('/public/images/icon/flowerHome.png'), lightgray 50% #D9D9D9;
    background-size: cover;
    background-repeat: no-repeat;
    filter: drop-shadow(0px 4px 4px 0px rgba(0, 0, 0, 0.25)) ;
    width: 28.655rem;
    height: auto;
    max-width: 30rem;
    min-width: 5rem;
    margin-top: -2rem;
    
}

.vectorpaperHome{
    filter: drop-shadow(0px 4px 4px 0px rgba(0, 0, 0, 0.25));
    z-index: 30;
    margin-left: 4rem;
    
}

.svg{
    width: auto;
    height: 455px;
    min-height: 200px;
    max-height: 500px ;
}

.dot3{
    flex-shrink: 0;
    margin: 1.5rem 1.5rem 0 auto;
}

.paper{
    width: 19.625rem;
    height:auto;
    flex-shrink: 0;
    opacity: 0.4;
    margin-top: -10rem;
    margin-right: 3rem;
    right: 2rem;
    z-index: 10;
    position: absolute;
}

.strokeLine{
    flex-shrink: 0;
    position: absolute;
    transform: translate(10rem, 35rem);  
}

/* bagian bawah untuk percobaan s2*/
.rectangle{
    display: flex;
    flex-direction: row-reverse;
    margin-left: -0.8rem;
}

.rectangle26Container{
    margin-left: -2.8rem;
}

.rectangle26{
    width: 194px;
    min-width: 100px;
    max-width: 210px;
    height: auto;
    flex-shrink: 0;
}

.rectangle27Container{
    /* filter: drop-shadow( 0 0 0.25rem rgba(0, 0, 0, 0.25)); */
    filter: drop-shadow(0.25rem 0 0.75rem rgba(0, 0, 0, 0.45));
    stroke: #FFF;
    stroke-width: 1.5px;
    fill: #FFF;   
}

.rectangle27{
    width: auto;
    min-width: 2rem;
    max-width: 5rem;
    height: 29rem;
    flex-shrink: 0;
    z-index: 10;
}

.ripped{
    width: 5rem;
    height: 28.4375rem;
    flex-shrink: 0;
    background: #FDD3C4;
    margin-right: -4.3rem;
}

.descText{
    width: 34.4vw;
    color: #FEE3E1;
    font-family: 'lanche';
    margin-bottom: 1rem;
    margin-top: 5rem;
    font-size: 2vw;
    font-style: normal;
    font-weight: 400;
    line-height: 2.343rem;
}

.authorText{
    width: 34.4vw;
    color: #FEE3E1;
    font-family: 'argetum-sans-light';
    font-style: normal;
    font-size: 1rem;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 8rem;
}



@media screen and (max-width:1350px){
    .rectangle{
        margin-left: -0.5rem;
    }
    .rectangle26{
        width: 155px;
        min-width: 100px;
        height: auto;
        margin-left: 0.6rem;
    }
    .rectangle27{
        width: 2rem;
        height: 23rem;
    }
    
    .textContainer{
        text-align: center;
        position: absolute;
        margin-bottom: 10rem;
        left: 19%;
        margin-left: 0;
        margin-right: 0;
    }

    .pictureContainer{
        align-items: center;
        margin-top: 10rem;
        position: absolute;
        left: 22%;
    }

    .ripped{
        height: 22.5rem;
    }

    .flowerHome{
        width: 26rem;
    }

    .svgPaperHome{
        width: 220px;
    }

    .strokeLine{
        transform: translate(7rem, 30rem);
    }

    .descText{
        font-size: 1.2rem;
    }

    .authorText{
        font-size: 0.95rem;
    }
}

@media screen and (max-width:1023px){
    /* section 1 */
    .containerSec1{
        margin-left: 7rem;
    }

    /* section 2 */
    .rectangle, .strokeLine{
        display: none;
    }
    .paper{
        height: 30rem;
        width: fit-content;
        transform: translate(5rem, 16%);
        margin-top: 0.5rem;
        opacity: 0.4;
    }
    .dotSvg{
        transform: translate(-8.5rem, 15rem);
        stroke-width: 0.1rem;
    }
    .flowerHome{
        width: 25rem;
        margin-top: -1.5rem;
    }
    .vectorpaperHome{
        width:220px;
        height: auto;
    }
    .svgPaperHome{
        width: 200px;
        height: auto;
    }
    .paperImg{
        height: 15rem;
        min-width: 100vw;
        object-fit: cover;
    }
    .descText{
        font-size: 1.2rem;
        line-height: 1.5rem;
        width: 28.525rem;
        margin-top: 0;
    }
    .authorText{
        margin: auto;
        margin-bottom: 10rem;
    }
}

@media screen and (max-width:765px){
    .containerSec1{
        margin-top: 5.5rem;
    }
    .titleSec1{
        width: auto;
        font-size: 1.875rem;
        line-height: 2.34375rem;
        margin-bottom: 1.5rem;
    }
    .descSec1{
        font-size: 0.7rem;
        width: 22.5rem;
    }
}

@media screen and (max-width:640px){
    .containerSec1{
        margin-left: 5rem;
    }

    /* section 2 */
    .flowerHome{
        width: 22rem;
    }
    .paper{
        margin-top: -0.75rem;
    }
    .dotSvg{
        transform: translate(-6.8rem, 15rem);
    }
    .svgPaperHome{
        width: 170px;
        height: auto;
    }
    .paperImg{
        height: 14rem;
        object-fit: cover;
    }
    
}

@media screen and (max-width:500px){
    .containerSec1{
        margin-top: 6rem;
        margin-left: 10%;
    }
    .descSec1{
        font-size: 0.625rem;
        width: 17.4375rem;
    }

    /* section 2 */
    .flowerHome{
        width:15rem;
        margin: auto;
        margin-top:-1rem;
    }
    .svgPaperHome{
        width: 120px;
        height: auto;
    }
    .paper{
        height: 27rem;
    }
    .paperImg{
        height: 9rem;
    }
    .authorText{
        font-size: 0.8rem;
        margin-bottom: 6rem;
    }
    .descText{
        width: 18rem;
        font-size: 0.75rem;
    }
    .dotSvg{
        transform: translate(-5.45rem, 13rem);
        width: 3.625rem;
    }
    
    
}

/* Masonry Gallery */








